.album-wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.album-cover-div {
  display: flex;
  justify-content: center;
  position: relative;
}
/* position:relative >> add isvg-icons to every album cover container */

.album-cover {
  width: 90%;
  border-radius: 5%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.icons-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.album-cover-div:hover .album-cover {
  opacity: 0.3;
}

.album-cover-div:hover .icons-container {
  opacity: 1;
}


.album-name {
  color: white;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  width: fit-content;
}

.artist-names-div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 20px;
  padding-bottom: 15px;
  width: fit-content;
  height: fit-content;
}

.artist-name {
  color: rgb(147, 147, 147);
  width: fit-content;
}

a {
  color: rgb(147, 147, 147);
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

.single-album-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #171717;
  border-radius: 5%;
  gap: 10px;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .album-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .album-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
