.album {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.album-name {
  font-size: 22px;
  font-weight: 300;
  color: #ffff;
  padding-top: 10px;
}

.artist-name {
  font-weight: 400;
  color: #ffff;
  padding-top: 10px;
}
.long-name {
  overflow: hidden;
  box-sizing: border-box;
}

.album-name:hover {
  text-decoration: underline;
}

.album {
  position: relative;
}

.image-container {
  position: relative;
}

.svg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* get rid of underline from a href  */
a:link {
  text-decoration: none;
  color: white;
}

/* make the icons white */
.white {
  filter: invert(100%);
}
/* position sngs in the middle of the album-container */
